*.aux
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vr
